<!-- <div class="distance"> -->
<!--   <%= distance_of_time_in_words(Time.now, event.show_time)  %> -->
<!-- </div> -->
<div class="poster">
  <%= image_tag event.image_url  %>
</div>
<div class="event-text">

  <div class="date"><%= event.date.strftime("%B %d")  %></div>
  <div class="time"><%=  event.time.strftime("%l:%M %p")  %></div>
  <div class="bands">
    <% event.bands.each do |band| %>
      <span class="band">
      <%= band.name  %>
    </span>
  <% end %>
  </div>
</div>
