<div class="poster defer-image">
  <%= image_tag event.image_url(:thumb).to_s, class: "poster" %>
</div>
<div class="event-text">
  <%= link_to event do  %>
  <div class="date-and-time">
  <% if event.today? %>
    <span class="date strong">
  TONIGHT
    </span>
  <% else %>
  <span class="date"><%= event.date.strftime("%B %d")  %></span>
  <% end %>
  <span class="time">at <%=  event.time.strftime("%l:%M %p")  %></span>
<% end  %>
  </div>

  <div class="bands">
    <% event.bands.each do |band| %>
      <div class="separator">
        <%= image_tag "separator.png"%>
      </div>
      <span class="band">
      <%= band.name  %>
    </span>
  <% end %>
  </div>
</div>
