<% provide(:title, 'Create An Event') %>

<div class="form-container">
  <%= form_for @event, :html => {:multipart => true} do |f| %>
  <%# <%= render 'fields', f: f  %>
  <%= f.date_select :date  %>
  at
  <%= f.time_select :time, ampm: true, minute_step: 15%>
  <div class="poster-form">
    <%= f.file_field :image  %>
  </div>

    <div class="band-name-form">
      <%= text_field_tag 'bands[][name]' %>
    </div>

    <div class="actions">
      <%= button_tag 'Add New Band', id: 'add_band_form', type: 'button'  %>
    </div>

    <div class="new_band_row hidden">
      <%= text_field_tag 'bands[][name]' %>
    </div>

  <%= f.submit "Create"  %>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#add_band_form').bind('click', function(e) {
    var div = $('.new_band_row').clone().removeClass('hidden new_band_row');
    $('.actions').before(div);
  });
</script>
