<h1>NEW SHOW</h1>

<div class="form-container">
  <%= form_for @event, :html => {:multipart => true} do |f| %>

  <div class="date-form">
    <h3>WHEN</h3>
    <%= f.date_select :date  %>
    at
    <%= f.time_select :time, ampm: true, minute_step: 15%>
  </div>

  <div class="poster-form">
    <h3>ART</h3>
    <%= f.file_field :image, class: 'custom-file-input'  %>
  </div>


  <div class="bands">
    <h3>BANDS</h3>
    <div class="band-name-form">
      <%= text_field_tag 'bands[][name]', nil, class: 'typeahead'%>
    </div>

    <div class="band-name-form">
      <%= text_field_tag 'bands[][name]', nil, class: 'typeahead'%>
    </div>

    <% 5.times do %>
    <div class="band-name-form hidden">
      <%= text_field_tag 'bands[][name]', nil, class: 'typeahead' %>
    </div>
    <% end %>

  </div>

    <div class="actions form-button">
      <%= button_tag 'Add New Band', id: 'add_band_form', type: 'button', class: 'pure-button'  %>
    </div>
<div class="form-button">
  <%= f.submit "Create", class: 'pure-button' %>
</div>
<% end %>
</div>

<%= content_tag "div", id: "data", data: {names: @band_names} do %>
<% end %>


