<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->

<div class="event-show-container pure-g">
  <div class="poster-show pure-u-lg-1-3">

    <span class="taped-up">
      <%= link_to @event.image_url do %>
        <%= image_tag @event.image_url(:thumb)%>
    <% end %>
    </span>
  </div>

  <div class="bands-show pure-u-lg-1-3">
    <div class="date-and-time">
      <% if @event.today? %>
        <span class="date strong">
        TONIGHT
      </span>
    <% else %>
        <span class="date"><%= @event.date.strftime("%B %d").upcase  %></span>
    <% end %>
      <span class="time">@ <%=  @event.time.strftime("%l:%M %p").upcase  %></span>
    </div>

    <% @event.bands.each do |band| %>
      <div class="band-show">
      <%= band.name  %>
    </div>
  <% end %>
  </div>

  <div class="playlist pure-u-lg-1-4">
    <div class="sc-holder">
      <%= @embed_info.html_safe  %>
    </div>
  </div>
</div>


<!-- <div class="pure&#45;g"> -->
<!--   <div class="pure&#45;u&#45;1&#45;2"> -->
<!--     Hi -->
<!--   </div> -->
<!--   <div class="pure&#45;u&#45;1&#45;2"> -->
<!--     Hi -->
<!--   </div> -->
<!-- </div> -->
