<!DOCTYPE html>
<html>
<head>
  <title>Batcave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= image_tag "batcave_logo.jpg", class: "logo" %>

<%= yield %>

</body>
</html>
